pandas==2.2.2
numpy==1.26.4
scikit-learn==1.5.1
matplotlib==3.9.1
seaborn==0.13.2
jupyter==1.0.0
ipykernel==6.29.5
pyyaml==6.0.1
joblib==1.4.2
imbalanced-learn==0.12.3
xgboost==2.1.1
shap==0.45.1
scipy==1.13.1